* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("trees-background.jpeg");
  background-position: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  padding: 15px;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table {
  min-width: 400px;
  min-height: 400px;
  margin: 0px 20px 20px 20px;
  background-color: lightgray;
  border: 5px solid white;
  border-spacing: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);
}

td {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.alive {
  background-color: green;
}

#game-config {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
  row-gap: 5px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 14px;
}

#game-config:hover, table:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#game-config button {
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 0.5;
}

#game-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#tick-speed, #grid-size {
  vertical-align: text-top;
}

select {
  font-family: 'Roboto', sans-serif;
}